.container {
	margin: 0;
	padding: 0;
	width: 100%;
}

#da-table {
	background-color: #A0A0A0;
	width: 100%;
	margin-top: -30px;
	padding-left: 10px;
	padding-right: 10px;
}

.lumiere, .debussy {
	text-align: center;
	background-color: #222;
	color: white;
	margin: 5px;
}

.row {
	margin-top: 30px;
}

.seance {
	border: 1px solid black;
	background-color: white;
	width: 150px;
	font-size: 12px;
}

.date {
	width: 120px;
}

.salle-debussy {
	margin-right: 30px;
}

.high-demand {
	background-color: red;
	border-radius: 5px;
	width: 5px;
	height: 5px;
}

.demanded {
	background-color: orange;
}